{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags i18n%}

{% block content %}
    {% image self.banner_image fill-900x400 as img %}

    <div
      class="hero page-inner overlay"
      style="background-image: url('{{ img.url }}')"
    >
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">{{ self.title }}</h1>

            <nav
              aria-label="breadcrumb"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ol class="breadcrumb text-center justify-content-center">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li
                  class="breadcrumb-item active text-white-50"
                  aria-current="page"
                >
                    {{ self.title }}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row text-left mb-5">
          <div class="col-12">
            <h2 class="font-weight-bold heading text-primary mb-4">{{ self.title }}</h2>
          </div>
            {% for block in page.content %}
          <div class="col-lg-6">
            <p class="text-black-50">
            {% include_block blcok %}
            </p>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>













{% endblock %}